<?xml version="1.0" encoding="UTF-8"?>
<app name="org.sdnlab.routingrest" origin="SDN Lab" version="1.0.0"
        title="REST APIs for remote routing" category="Integration" url="http://onosproject.org"
        featuresRepo="mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/features"
        features="${project.artifactId}" apps="">
    <description>${project.description}</description>
    <artifact>mvn:${project.groupId}/${project.artifactId}/${project.version}</artifact>
    <artifact>mvn:org.glassfish.jersey.media/jersey-media-sse/2.27</artifact>
    <artifact>mvn:org.glassfish.jersey.media/jersey-media-json-jackson/2.27</artifact>
    <artifact>mvn:org.glassfish.jersey.ext/jersey-entity-filtering/2.27</artifact>
    <artifact>mvn:com.fasterxml.jackson.module/jackson-module-jaxb-annotations/2.11.0</artifact>
    <artifact>mvn:org.glassfish/javax.annotation/3.1.1</artifact>
</app>
